.header{
  height: 100%;
  width: 100%;
  &__title{
  text-align: center;
  font-size: 80px;
  margin-bottom: 20px;

  }
  &__contents{
    text-align: center;
    margin-bottom: 20px;
  }
  &__logout{
    &__btn{
      float:right;
      margin-right: 60px;
      background-color: palevioletred;
      border: 1px solid palevioletred;
      color: #fff;
      line-height: 40px;
      font-size: 14px;border-radius: 4px;

      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: .7;
      }
    }
  }
}


